<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ForoULAtina.Properties.Settings.bdForoLatinaConnectionString"
            connectionString="{SU_URL_DE_BD},{SU_PUERTO};Initial Catalog={SU_BD};User ID={SU_USER};Password={SU_PASSWORD};TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ForoULAtina.Properties.Settings.proyecto_progra_vConnectionString"
            connectionString="Data Source=proyecto-progra-v.database.windows.net;Initial Catalog=proyecto_progra_v;Persist Security Info=True;User ID=prograVAdmin;Password=Testing123!;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
